<% provide(:title, "All Users") %>
<div class="flex justify-between items-center mt-8">
  <div class="text-gray-600 ml-2">
    <%= page_entries_info @posts %>
  </div>
  <div class="flex space-x-2 mr-2">
    <%= will_paginate  %>
  </div>
</div>

<h1 class="text-4xl font-bold mb-5 mt-5 ml-2">All Users</h1>
<ul class="flex flex-col space-y-4 mb-5">
  <% @users.each do |user| %>
    <%= render 'users/user', user: user%>
  <% end %>
  <%#= render @users %> 
</ul>

<div class="flex justify-between items-center mt-8">
  <div class="text-gray-600 ml-2">
    <%= page_entries_info  %>
  </div>
  <div class="flex space-x-2 mr-2">
    <%= will_paginate  %>
  </div>
</div>
