<% provide(:title, "Sign Up") %>
<%= render 'layouts/header' %>

<div class="flex items-center justify-center bg-gray-100">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
        Sign Up
      </h2>
    </div>
    <%= form_with(model: @user) do |f| %>
      <%= render 'shared/error_messages'%>
      <div class="mt-4">
        <%= f.label :name, class: "sr-only" %>
        <%= f.text_field :name, placeholder: "Name", class: "appearance-none rounded-md relative block w-full px-3 py-2 border #{'border-red-500' if @user.errors[:name].any?} placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
      </div>
      <div class="mt-4">
        <%= f.label :email, class: "sr-only" %>
        <%= f.email_field :email, placeholder: "Email", class: "appearance-none rounded-md relative block w-full px-3 py-2 border #{'border-red-500' if @user.errors[:email].any?} placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
      </div>
      <div class="mt-4">
        <%= f.label :password, class: "sr-only" %>
        <%= f.password_field :password, placeholder: "Password", class: "appearance-none rounded-md relative block w-full px-3 py-2 border #{'border-red-500' if @user.errors[:password].any?} placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
      </div>
      <div class="mt-4">
        <%= f.label :password_confirmation, class: "sr-only" %>
        <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "appearance-none rounded-md relative block w-full px-3 py-2 border #{'border-red-500' if @user.errors[:password_confirmation].any?} placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
      </div>
      <div class="mt-6">
      <%= f.submit "Create my account", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'layouts/footer' %>