<% provide(:title, @user.name) %>
<div class="flex flex-wrap">
  <aside class="w-full md:w-1/3 p-4">
    <section class="bg-white shadow-md rounded-lg p-6">
      <h1 class="text-4xl font-bold mb-4">
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <span class="text-blue-500">
        <%= link_to "view my profile", @user %>
      </span>
    </section>
  </aside>
  <div class="w-full md:w-2/3 p-4">
    <% if @user.microposts.any? %>
    <div class="flex justify-between items-center mt-8">
        <div class="text-gray-600 ml-2">
          <%= page_entries_info @microposts %>
        </div>
        <div class="flex space-x-2 mr-2">
          <%= will_paginate @microposts %>
        </div>
      </div>
      <ol class="list-none pl-5 space-y-4">
        <%= render @user.microposts %>
      </ol>
      <div class="flex justify-between items-center mt-8">
        <div class="text-gray-600 ml-2">
          <%= page_entries_info @microposts %>
        </div>
        <div class="flex space-x-2 mr-2 paginate">
          <%= will_paginate @microposts %>
        </div>
      </div>
    <% end %>
  </div>
</div>